<?xml version="1.0"?>
<configuration>
  <!-- diagnostics is solely for tracing of wcf service. In production this can be omitted-->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Error.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="UploadFileDirectory" value="c:\Testfiles\Uploaded"/>
    <add key="FileDownloadDirectory" value="c:\Testfiles\Downloaded"/>
    <add key="FileSourceDirectory" value="c:\Testfiles"/>
    <add key="LogFile" value="c:\temp\ServiceLog.txt"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <wsHttpBinding>
        <!-- please note that timeouts have been set to 5'10''-->
        <binding name="SecureHttpBinding" messageEncoding="Mtom" closeTimeout="05:10:00" 
                 openTimeout="05:10:00" sendTimeout="05:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <!-- BEWARE!! NO SECURITY!  (COULD ALSO BE: https://msdn.microsoft.com/en-us/library/system.servicemodel.securitymode(v=vs.110).aspx-->
            <message establishSecurityContext="false"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Servicebehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Servicebehavior" name="tootA_Service.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:51537/tootA_Service/Service1/" />
          </baseAddresses>
          <timeouts closeTimeout="05:10:00" openTimeout="05:10:00"/>

        </host>

        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="SecureHttpBinding" name="SecureHttp" contract="tootA_Service.IService1"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>