<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
    <!--Database connection-->
    <!-- deze key is speciaal voor MS SQLServer -->
    <!-- <add key="DBConnectionString" value="Initial Catalog=ESS;Data Source=(local);User Id=ess;Password=energysql5874;"/> -->
    <!--   <add key ="DBConnectionString" value="Server=193.93.174.216;Port=3306;Database=ess;Uid=ess001;Pwd=pers234;Pooling=false;"/>-->

    <!-- deze key is speciaal voor MySQL LOCAL-->
    <!--  <add key ="DBConnectionString" value="Server=localhost;Port=3307;Database=ess;Uid=ess001;Pwd=pers234;Pooling=false;"/>-->
    <!-- deze key is specaal voor op de energysoftwaresolutions.nl server-->
    <!--<add key ="DBConnectionString" value="Server=localhost;;Database=Stock; Uid=ess001;Pwd=pers234;Pooling=false;"/>-->
      <add key="DBConnectionString" value="Initial Catalog=Stock;Data Source=WBLSATSXB8S01\ELIAS;Integrated Security=SSPI;"/>
  </appSettings>

 <system.serviceModel>
  <bindings>
   <wsHttpBinding>
    <binding name="SecureHttp" messageEncoding="Mtom">
     <security mode="None" />
    </binding>
   </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:26073/Service1.svc" binding="wsHttpBinding"
    bindingConfiguration="SecureHttp" contract="MTOM_tootA.IService1"
    name="SecureHttp" />
  </client>
 </system.serviceModel>
</configuration>